.v-show{
    width: 600px;
    height: 180px;
    border: 2px #ccc solid;
}
.v-caption{
    height: 35px;
    padding: 3px 5px;
    background-color: #ccc;
    line-height: 35px;
}
.highlight-tip{
    margin-left: 10px;
    margin-right: 20px;
}
.highlight-tip .current {
    background-color: aqua;
}
.highlight-tip span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
}
.otter,
.highlight-tip,
.change-btn{
    float: left;
}
.v-caption em {
    float: right;
}
.v-content{
    position: relative;
}
.v-content-list{
    position: absolute;
}
.v-content-list ul{
    width: 600px;
    white-space: nowrap;
    overflow-x: scroll;
    position: absolute;
}
.v-content-list li{
    width: 130px;
    margin: 4px 3px;
    display: inline-block;
}
.v-content-list img{
    width: 130px;
    
}